Pods/
app.xcworkspace/xcuserdata/trevoranderson.xcuserdatad/UserInterfaceState.xcuserstate
Podfile.lock
Podfile.lock
app.xcworkspace/xcuserdata/trevoranderson.xcuserdatad/UserInterfaceState.xcuserstate
app.xcworkspace/xcuserdata/trevoranderson.xcuserdatad/UserInterfaceState.xcuserstate
